/* Dracula - Light / Dark */
[data-palette="dracula"] {
  --background: oklch(0.96 0.008 280);
  --card: oklch(0.99 0.004 280);
  --card-text: oklch(0.2 0.04 277);
  --border: oklch(0.82 0.02 280);
  --text: oklch(0.2 0.04 277);
  --sub-card: oklch(0.93 0.012 280);
  --sub-card-text: oklch(0.5 0.06 277);
  --graph-1: oklch(0.65 0.25 349);
  --graph-2: oklch(0.7 0.18 195);
  --success: oklch(0.75 0.2 143);
  --danger: oklch(0.75 0.18 67);
  --error: oklch(0.6 0.24 28);
}

[data-palette="dracula"].dark {
  --background: oklch(0.2291 0.0428 277);
  --card: oklch(0.29 0.04 277);
  --card-text: oklch(0.95 0.008 280);
  --border: oklch(0.4 0.035 277);
  --text: oklch(0.95 0.008 280);
  --sub-card: oklch(0.36 0.038 277);
  --sub-card-text: oklch(0.75 0.04 280);
  --graph-1: oklch(0.7449 0.1812 299);
  --graph-2: oklch(0.9063 0.1126 207);
  --success: oklch(0.75 0.2 143);
  --danger: oklch(0.8221 0.1578 67);
  --error: oklch(0.6882 0.2357 28);
}