/* Gruvbox - Light / Dark */
[data-palette="gruvbox"] {
  --background: oklch(0.96 0.04 94);
  --border: oklch(0.85 0.035 73);
  --text: oklch(0.22 0.008 0);
  --sub-card: oklch(0.91 0.035 87);
  --graph-1: oklch(0.52 0.1 192);
  --graph-2: oklch(0.58 0.22 44);
  --success: oklch(0.58 0.18 121);
  --danger: oklch(0.58 0.22 44);
  --error: oklch(0.48 0.24 27);
}

[data-palette="gruvbox"].dark {
  --background: oklch(0.2109 0 0);
  --border: oklch(0.4118 0.027 57);
  --text: oklch(0.8879 0.0645 89);
  --sub-card: oklch(0.3641 0.0216 57);
  --graph-1: oklch(0.6542 0.0626 182);
  --graph-2: oklch(0.7345 0.1934 51);
  --success: oklch(0.7241 0.1755 128);
  --danger: oklch(0.7345 0.1934 51);
  --error: oklch(0.6294 0.2336 32);
}