/* Monokai - Light / Dark */
[data-palette="monokai"] {
  --background: oklch(0.96 0.005 100);
  --border: oklch(0.86 0.012 97);
  --text: oklch(0.25 0.015 110);
  --sub-card: oklch(0.91 0.01 97);
  --graph-1: oklch(0.65 0.22 127);
  --graph-2: oklch(0.7 0.2 52);
  --success: oklch(0.65 0.22 127);
  --danger: oklch(0.7 0.2 52);
  --error: oklch(0.6 0.25 357);
}

[data-palette="monokai"].dark {
  --background: oklch(0.2148 0.0123 114);
  --border: oklch(0.32 0.013 110);
  --text: oklch(0.9761 0.005 107);
  --sub-card: oklch(0.32 0.013 110);
  --graph-1: oklch(0.8506 0.2163 127);
  --graph-2: oklch(0.77 0.177 52);
  --success: oklch(0.8506 0.2163 127);
  --danger: oklch(0.77 0.177 52);
  --error: oklch(0.6586 0.2654 357);
}