[data-palette="nord"] {
  --background: oklch(0.97 0.01 255);
  --border: oklch(0.9 0.015 255);
  --text: oklch(0.22 0.045 264);
  --sub-card: oklch(0.94 0.015 255);
  --graph-1: oklch(0.52 0.11 246);
  --graph-2: oklch(0.72 0.09 211);
  --success: oklch(0.52 0.11 246);
  --danger: oklch(0.6 0.13 50);
  --error: oklch(0.5 0.15 17);
}

[data-palette="nord"].dark {
  --background: oklch(0.2584 0.039 264);
  --border: oklch(0.3729 0.0391 265);
  --text: oklch(0.8831 0.0185 255);
  --sub-card: oklch(0.3729 0.0391 265);
  --graph-1: oklch(0.778 0.0736 211);
  --graph-2: oklch(0.7473 0.0769 193);
  --success: oklch(0.52 0.11 246);
  --danger: oklch(0.6 0.13 50);
  --error: oklch(0.5499 0.1325 17);
}