/* Vintage Paper - Light / Dark */
[data-palette="vintage-paper"] {
  --background: oklch(0.97 0.012 90);
  --border: oklch(0.9 0.02 84.5881);
  --text: oklch(0.32 0.025 64.3434);
  --sub-card: oklch(0.93 0.02 85.5655);
  --graph-1: oklch(0.56 0.09 65.5444);
  --graph-2: oklch(0.52 0.07 68.5805);
  --success: oklch(0.56 0.09 65.5444);
  --danger: oklch(0.68 0.06 66.6967);
  --error: oklch(0.5 0.15 32.9149);
}

[data-palette="vintage-paper"].dark {
  --background: oklch(0.22 0.015 57);
  --border: oklch(0.35 0.025 57);
  --text: oklch(0.85 0.025 83);
  --sub-card: oklch(0.32 0.02 57);
  --graph-1: oklch(0.68 0.08 66);
  --graph-2: oklch(0.38 0.03 56);
  --success: oklch(0.68 0.08 66);
  --danger: oklch(0.38 0.03 56);
  --error: oklch(0.55 0.16 33);
}