/* ----------------------------------------------------------
   Mist Green
   A fresh green-themed palette with misty accents.
   ---------------------------------------------------------- */

[data-palette="mist-green"] {
  --background: oklch(0.933 0.03 85.565);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.985 0.02 91.579);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.942 0.029 111.17);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.438 0.127 141.234);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.515 0.068 50.878);
  --secondary-foreground: oklch(1 0.001 0);
  --muted: oklch(0.858 0.034 83.703);
  --muted-foreground: oklch(0.578 0.049 80.218);
  --accent: oklch(0.909 0.061 158.219);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.754 0.048 83.21);
  --input: oklch(0.81 0.038 120.675);
  --ring: oklch(0.559 0.149 139.191);
  --chart-1: oklch(0.655 0.166 35.295);
  --chart-2: oklch(0.826 0.156 141.366);
  --chart-3: oklch(0.636 0.096 193.224);
  --chart-4: oklch(0.839 0.146 101.703);
  --chart-5: oklch(0.605 0.125 80.556);
  --sidebar: oklch(0.757 0.045 103.123);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.748 0.117 76.666);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.703 0.069 69.266);
}

[data-palette="mist-green"].dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.665 0.012 100.92);
  --card: oklch(0.251 0.009 97.718);
  --card-foreground: oklch(0.563 0.016 74.314);
  --popover: oklch(0.226 0.01 132.716);
  --popover-foreground: oklch(0.695 0.101 130.816);
  --primary: oklch(0.391 0.085 140.213);
  --primary-foreground: oklch(0.774 0.011 106.658);
  --secondary: oklch(0.356 0.042 52.925);
  --secondary-foreground: oklch(0.738 0.001 0);
  --muted: oklch(0.281 0.021 107.676);
  --muted-foreground: oklch(0.467 0.057 114.76);
  --accent: oklch(0.305 0.02 145.061);
  --accent-foreground: oklch(0.752 0.029 135.019);
  --destructive: oklch(0.633 0.247 11.646);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(0.093 0.007 145.003);
  --ring: oklch(0.552 0.117 138.946);
  --chart-1: oklch(0.364 0.088 43.795);
  --chart-2: oklch(0.461 0.081 134.111);
  --chart-3: oklch(0.344 0.048 180.459);
  --chart-4: oklch(0.579 0.091 105.092);
  --chart-5: oklch(0.364 0.069 78.119);
  --sidebar: oklch(0.242 0.02 116.307);
  --sidebar-foreground: oklch(0.694 0.012 84.587);
  --sidebar-primary: oklch(0.673 0.06 124.322);
  --sidebar-primary-foreground: oklch(0.15 0.001 0);
  --sidebar-accent: oklch(0.336 0.049 80.632);
  --sidebar-accent-foreground: oklch(0.691 0.106 101.915);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.386 0.014 54.17);
}
